<h1><%= t 'reset_your_password' %></h1>

<%= form_with model: User.new, url: password_reset_path do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div class="submit">
    <%= form.submit t('reset_password') %>
  </div>
<% end %>

<br>
<%= link_to t('log_in'), new_session_path %>
<br>
<br>
<%= link_to t('sign_up'), new_registration_path %>
