<%= form_with(model: tank) do |form| %>
  <% if tank.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tank.errors.count, "error") %> prohibited this tank from being saved:</h2>

      <ul>
        <% tank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :project_id, value: tank&.project_id || current_project.id %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :capacity, style: "display: block" %>
    <%= form.number_field :capacity, step: 'any' %>
  </div>

  <div>
    <%= form.label :capacity_units, 'Units', style: "display: block" %>
    <%= form.select :capacity_units, options_for_select(Tank.capacity_units.map {|k,v| [k, k]}, tank.capacity_units) %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :location_id, style: "display: block" %>
    <%= form.select :location_id, options_from_collection_for_select(current_project.locations, :id, :name, tank&.location&.id), prompt: '-- Select Location --' %>
  </div>

  <div>
    <%= form.submit class: 'saveButton' %>
  </div>
<% end %>
