<div id="<%= dom_id tank %>">
  <p>
    <strong>Name:</strong>
    <%= tank.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tank.description %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= tank.zone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tank.location %>
  </p>

</div>
