<div id="<%= dom_id tank %>">
  <p>
    <strong>Name:</strong>
    <%= tank.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= tank.print_capacity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tank.description&.gsub("\n",'<br>')&.html_safe %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tank.location %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= tank.zone %>
  </p>

</div>
