<h1><%= t 'layouts.application.users' %></h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th><%= t 'attributes.projects' %></th>
      <th><%= t 'attributes.collaborations' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.projects.count %>
        </td>
        <td>
          <%= user.collaborations.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>