<% content_for :title, 'Account Settings' %>

<h1><%= t 'layouts.application.account_settings' %></h1>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>
<p>
  <strong><%= t 'attributes.account_created' %>:</strong>
  <%= format_time current_user.created_at %>
</p>
<p>
  <strong><%= t 'attributes.account_updated' %>:</strong>
  <%= format_time current_user.updated_at %>
</p>

<br>
<%= link_to t('account.update_password'), edit_password_path %>
<br>
<br>
<%= button_to t('layouts.application.log_out'), session_path, class: 'saveButton', method: :delete %>