<% content_for :title, "Sensor Types" %>

<h1 style="display:inline-block">
  <%= link_to t('.sensors'), sensors_path, class: 'breadcrumb' %> <%= icon 'chevron-right', variant: 'mini', class: 'breadcrumb' %> <%= t '.sensor_types' %>
</h1>
<div id="sensor_types">
  <% @sensor_types.each do |sensor_type| %>
    <%= render sensor_type %>
    <p>
      <%= link_to "Show this Sensor Type", sensor_type %>
    </p>
  <% end %>
</div>

<%= link_to "New Sensor Type", new_sensor_type_path %>
