<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, t('attributes.name'), style: "display: block" %>
    <%= form.text_field :name, autofocus: project.new_record? %>
  </div>

  <div>
    <%= form.label :api_key, t('attributes.api_key'), style: "display: block" %>
    <%= form.text_field :api_key %>
  </div>

  <br>
  <div>
    <% submit_text = t(project.new_record? ? 'projects.create_project' : 'projects.update_project') %>
    <%= form.submit submit_text %>
  </div>
<% end %>
