<% content_for :title, "Projects" %>

<h1>
  <% if current_project %>
    <%= t('.switch_project') %>
  <% else %>
    <%= t('.select_project') %>
  <% end %>
</h1>

<% if @projects&.any? %>
  <table class="green">
    <thead>
      <tr>
        <th class="nameColumn"><%= t 'projects.name' %></th>
        <th class="ownerColumn"><%= t 'projects.owner' %></th>
        <th class="collaboratorsColumn"><%= t 'projects.collaborators' %></th>
        <th class="plantsColumn"><%= t 'projects.plants' %></th>
        <th class="wateringsColumn"><%= t 'projects.waterings' %></th>
        <th class="createdColumn"><%= t 'attributes.created' %></th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr data-controller="nav"
          data-nav-url-value="<%= plants_path(project_id: project.id) %>"
          data-action="click->nav#goToUrl"
          style="cursor:pointer">
        <td class="nameColumn"><%= project.name %></td>
        <td class="ownerColumn"><%= project.owner %></td>
        <td class="collaboratorsColumn"><%= project.collaborators.count %></td>
        <td class="plantsColumn"><%= project.plants.count %></td>
        <td class="wateringsColumn"><%= project.waterings.count %></td>
        <td class="createdColumn"><%= format_date project.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% elsif user_signed_in? %>
  <%= t '.no_projects' %>
<% else %>
  <p class="large">
    <%= link_to t('.log_in'), new_session_path %>
    <%= t '.to_access' %>
    <%= link_to t('.sign_up'), new_registration_path %>
    <%= t '.to_create' %>
  </p>
<% end %>

<% if user_signed_in? %>
  <div style=" text-align: center;">
    <div class="plantButton">
      <%= link_to "+ #{t '.new_project'}", new_project_path %>
    </div>
  </div>
<% end %>