<h1><%= @project %></h1>

<p>
  <strong><%= t 'attributes.created' %>:</strong>
  <%= format_time @project.created_at %>
</p>

<p>
  <%= link_to plants_path, class: 'green' do %>
    <strong><%= t 'projects.plants' %>:</strong>
    <%= @project.plants.count %>
  <% end %>
</p>

<p>
  <%= link_to waterings_path, class: 'blue' do %>
    <strong><%= t 'projects.waterings' %>:</strong>
    <%= @project.waterings.count %>
  <% end %>
</p>

<p>
  <strong><%= t 'projects.owner' %>:</strong>
  <%= @project.owner %>
</p>

<p>
  <strong><%= t 'projects.collaborators' %>:</strong>
  <%= @project.collaborators.count %>
  <%= form_with name: :thing, url: project_add_collaborator_path(current_project) do |form| %>
    <%= form.label :user_email, t('projects.show.add_collaborator_by_email') %>
    <%= form.text_field :user_email, name: 'collaborator[email]', required: true %>

    <%= form.label 'collaborator[role]', t('attributes.role') %>
    <%= form.select 'collaborator[role]', options_for_select(Collaboration.roles.map {|k, v| [t("roles.#{k}"), k]}, 1), {name: 'collaborator[role]'} %>

    <%= form.submit t('projects.show.add_collaborator') %>
  <% end %>
</p>

<ul>
  <% @project.collaborations.each do |c| %>
    <li>
      <%= c.user %> - <%= t "roles.#{c.role}" %>
      (<%= link_to t('actions.remove'), project_remove_collaborator_path(current_project, user_id: c.user.id), data: { "turbo-method": :put } %>)
    </li>
  <% end %>
</ul>

<p>
  <%= link_to t('projects.edit_project'), edit_project_path(@project) %>
  <br>
  <br>
  <%= link_to t('projects.all_projects'), projects_path(@project) %>
</p>