<div id="<%= dom_id plant %>">
  <p>
    <strong><%= t 'attributes.watered' %>:</strong>
    <%= last_watering_text plant %>
  </p>

  <% if @plant.last_watering %>
    <p>
      <%= link_to 'Repeat Last Watering', plant_water_path(@plant, volume: @plant.last_watering.volume, units: @plant.last_watering.units, notes: @plant.last_watering.notes) %>
    </p>
  <% end %>

  <p>
    <strong><%= t 'attributes.next_watering' %>:</strong>
    <%= @plant.time_until_watering_text %>
  </p>

  <p>
    <strong><%= t 'attributes.watering_frequency' %>:</strong>
    <%= @plant.watering_frequency_text %>
  </p>

  <p>
    <strong><%= t 'attributes.location' %>:</strong>
    <%= plant.location %>
  </p>

  <p>
    <strong><%= t 'attributes.zone' %>:</strong>
    <%= plant.zone %>
  </p>

  <% if @plant.container && @plant.container != '' %>
    <p>
      <strong><%= t 'attributes.container' %>:</strong>
      <%= plant.pot %>
    </p>
  <% end %>

  <p>
    <strong><%= t 'attributes.archived' %>:</strong>
    <%= t @plant.archived %>
  </p>



</div>
