<div id="<%= dom_id plant %>">
  <h1>
    Plant: #<%= plant.uid %> <%= plant.name %>
  </h1>

  <p>
    <strong>Location:</strong>
    <%= plant.location %>
  </p>

  <p>
    <strong>Pot:</strong>
    <%= plant.pot %>
  </p>

  <p>
    <strong>Last Watering:</strong>
    <%= time_ago plant.last_watering %>
  </p>

  <p>
    <strong>Scheduled Watering:</strong>
    <%= @plant.time_until_watering_text %>
  </p>

  <p>
    <strong>Watering Frequency:</strong>
    <% if @plant.manual_watering_frequency %>
      <%= @plant.watering_frequency_text %>
    <% else %>
      Auto
    <% end %>
  </p>

<!--  <p>-->
<!--    <strong>Manual Watering Frequency?:</strong>-->
    <%#= @plant.manual_watering_frequency ? 'Yes' : 'No' %>
<!--  </p>-->



  <p>
    <strong>Archived?:</strong>
    <%= @plant.archived %>
  </p>



</div>
