<div id="<%= dom_id plant %>">
  <h1>
    <%= t 'attributes.plant' %>: #<%= plant.uid %> <%= plant.name %>
  </h1>

  <p>
    <strong><%= t 'attributes.watered' %>:</strong>
    <% if plant.date_last_watering && plant.last_watering %>
    <%= link_to time_ago(plant.date_last_watering), watering_path(plant.last_watering) %>
    <% end %>
  </p>

  <p>
    <strong><%= t 'attributes.next_watering' %>:</strong>
    <%= @plant.time_until_watering_text %>
  </p>

  <p>
    <strong><%= t 'attributes.watering_frequency' %>:</strong>
    <%= @plant.watering_frequency_text %>
  </p>

  <p>
    <strong><%= t 'attributes.location' %>:</strong>
    <%= plant.location %>
  </p>

  <p>
    <strong><%= t 'attributes.zone' %>:</strong>
    <%= plant.zone %>
  </p>

  <% if @plant.container && @plant.container != '' %>
    <p>
      <strong><%= t 'attributes.container' %>:</strong>
      <%= plant.pot %>
    </p>
  <% end %>

  <p>
    <strong><%= t 'attributes.archived' %>:</strong>
    <%= t @plant.archived %>
  </p>



</div>
