<div id="<%= dom_id plant %>">
  <h1>
    <%= t 'attributes.plant' %>: #<%= plant.uid %> <%= plant.name %>
  </h1>

  <p>
    <strong><%= t 'attributes.location' %>:</strong>
    <%= plant.location %>
  </p>

  <p>
    <strong><%= t 'attributes.container' %>:</strong>
    <%= plant.pot %>
  </p>


  <p>
    <strong><%= t 'attributes.watered' %>:</strong>
    <%= time_ago plant.last_watering %>
  </p>

  <p>
    <strong><%= t 'attributes.scheduled_watering' %>:</strong>
    <%= @plant.time_until_watering_text %>
  </p>

  <p>
    <strong><%= t 'attributes.watering_frequency' %>:</strong>
    <% if @plant.manual_watering_frequency %>
      <%= @plant.watering_frequency_text %>
    <% else %>
      Auto
    <% end %>
  </p>

  <p>
    <strong><%= t 'attributes.archived' %>:</strong>
    <%= t @plant.archived %>
  </p>



</div>
