<% archive ||= false %>
<tr id="<%= dom_id plant %>">
  <td class="plantColumn" style="font-weight: 500">
    <%= link_to plant.label, plant_path(plant.id) %>
  </td>
  <% unless archive %>
    <td class="nextWateringColumn" style="font-weight: 400">
      <%= plant.time_until_watering_text %>
    </td>
  <% end %>
  <td class="lastWateringColumn">
    <%= last_watering_text plant %>
  </td>
  <td class="locationColumn">
    <%= plant.location %>
  </td>
  <td class="containerColumn">
    <%= plant.pot %>
  </td>
  <% unless archive %>
    <td class="actionColumn">
      <% if plant.date_last_watering == Time.zone.now.to_date %>
        <%= link_to t('plants.index.edit'), edit_watering_path(plant.waterings.last) %>
      <% else %>
        <%= link_to t('plants.index.water'), plant_water_path(plant) %>
      <% end %>
    </td>
  <% end %>
</tr>