<%# expected local: waterings %>
<table>
  <thead>
  <tr>
    <th><%= t 'attributes.date' %></th>
    <th><%= t 'attributes.interval' %></th>
    <th><%= t 'attributes.notes' %></th>
  </tr>
  </thead>
  <tbody>
  <% waterings.reverse.each do |watering| %>
    <tr>
      <td><%= link_to format_date(watering.date), watering %></td>
      <td><%= watering.interval_text %></td>
      <td><%= watering.notes %></td>
    </tr>
  <% end %>
  </tbody>
</table>