<%# expected local: waterings %>
<table class="blue">
  <thead>
  <tr>
    <th><%= t 'attributes.date' %></th>
    <th><%= t 'attributes.volume' %></th>
    <th><%= t 'attributes.interval' %></th>
    <th><%= t 'attributes.notes' %></th>
    <th><%= t 'plants.index.action' %></th>
  </tr>
  </thead>
  <tbody>
  <% waterings.reverse.each do |watering| %>
    <tr>
      <td><%= link_to format_date(watering.date), watering %></td>
      <td><%= watering.print_volume %></td>
      <td><%= watering.interval_text %></td>
      <td class="wateringNotesColumn"><%= watering.notes %></td>
      <td><%= link_to 'Repeat Watering', plant_water_path(@plant, volume: watering.volume, units: watering.units, notes: watering.notes) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>