<% content_for :title do %>
  Edit #<%= @plant.uid %> <%= @plant.name %>
<% end %>
<h1><%= t '.editing_plant' %></h1>

<%= render "form", plant: @plant %>

<p>
  <%= link_to t('actions.discard_changes'), @plant %>
</p>
