<p style="color: green"><%= notice %></p>

<h1>Plants</h1>

Sort by:
<%= params[:sort] != 'suggested' ? link_to('Suggested', plants_path(sort: 'suggested')) : 'Suggested' %> |
<%= params[:sort] != 'last' ? link_to('Last Watering', plants_path(sort: 'last')) : 'Last Watering' %> |
<%= params[:sort] != 'number' ? link_to('Number', plants_path(sort: 'number')) : 'Number' %>


<table>
  <thead>
    <tr>
      <th>Plant</th>
      <th>Location</th>
      <th class="trim">Pot</th>
      <th class="trim2" style="min-width:130px;"><span class="line-break">Last</span> Watering</th>
      <th class="trim4">Frequency</th>
      <!--      <th>Suggested Watering</th>-->
      <th style="min-width:148px"><span class="line-break">Days Until</span> Water</th>
      <th class="trim3"><span class="line-break">Last</span> Fertilized</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <% @plants.each do |plant| %>
        <%= render 'plant_row', plant: plant %>
      <% end %>
  </tbody>
</table>
<br>
<%= link_to "New plant", new_plant_path %>
