<p style="color: green"><%= notice %></p>

<h2>Needs Watering</h2>
<% if @needs_water.any? %>
  <table class="yellow">
    <thead>
    <tr>
      <th>Plant</th>
      <th>Location</th>
      <th class="trim">Pot</th>
      <th style="min-width:148px">Scheduled</th>
      <th class="trim2" style="min-width:130px;">Watered</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @needs_water.each do |plant| %>
      <%= render 'plant_row', plant: plant %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Everything up to date!</p>
<% end %>
<% if @watered_today.any? %>
  <h2>Watered Today</h2>
  <table class="blue">
    <thead>
    <tr>
      <th>Plant</th>
      <th>Location</th>
      <th class="trim">Pot</th>
      <th style="min-width:148px">Scheduled</th>
      <th class="trim2" style="min-width:130px;">Watered</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @watered_today.each do |plant| %>
      <%= render 'plant_row', plant: plant %>
    <% end %>
    </tbody>
  </table>
<% end %>
<h2>Upcoming</h2>
<% if @upcoming.any? %>
  <table class="green">
    <thead>
      <tr>
        <th>Plant</th>
        <th>Location</th>
        <th class="trim">Pot</th>
        <th style="min-width:148px">Scheduled</th>
        <th class="trim2" style="min-width:130px;">Watered</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @upcoming.each do |plant| %>
      <%= render 'plant_row', plant: plant %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing scheduled in the next 7 days.</p>
<% end %>
<h2>Recently Watered</h2>
<% if @recently.any? %>
  <table class="blue">
    <thead>
    <tr>
      <th>Plant</th>
      <th>Location</th>
      <th class="trim">Pot</th>
      <th style="min-width:148px">Scheduled</th>
      <th class="trim2" style="min-width:130px;">Watered</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @recently.each do |plant| %>
      <%= render 'plant_row', plant: plant %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing watered in the last 7 days.</p>
<% end %>

<% if @unscheduled.any? %>
  <h2>Unscheduled</h2>
  <table>
    <thead>
    <tr>
      <th>Plant</th>
      <th>Location</th>
      <th class="trim">Pot</th>
      <th style="min-width:148px">Scheduled</th>
      <th class="trim2" style="min-width:130px;">Watered</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @unscheduled.each do |plant| %>
      <%= render 'plant_row', plant: plant %>
    <% end %>
    </tbody>
  </table>
<% end  %>

<%= link_to "New plant", new_plant_path %>
