<h1><%= t '.plants' %></h1>

<div style="float:right">
  <%= link_to t('.import_plants'), plants_import_path %> |
  <%= link_to t('.export_plants'), plants_path(format: :json) %>
</div>

<div class="formContainer">
  <h2><%= t 'search' %>:</h2>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_or_location_name_cont, t('text') + ':' %>
    <%= f.search_field :name_or_location_name_cont %>
    <br><br>
    <%= f.label :uid_eq, t('plant_id') + ':' %>
    <%= f.number_field :uid_eq %>
    <br><br>
    <div class="rangeInputContainer">
      <%= f.label :date_last_watering_gteq, t('watered_after') + ':' %>
      <%= f.date_field :date_last_watering_gteq %>
      <%= f.label :date_last_watering_lteq, t('watered_before') + ':' %>
      <%= f.date_field :date_last_watering_lteq %>
    </div>
    <br>
    <%= f.label :archived_eq, t('archived') + ':' %>
    <%= f.check_box :archived_eq %>
    <br><br>
    <%= f.submit %>
  <% end %>
</div>

<h2><%= "#{@plants.size} Results" %>
  - <%= link_to t('clear_search'), plants_path %></h2>
<table class="blue">
  <%= render 'plant_row_header' %>
  <tbody>
  <% @plants.each do |plant| %>
    <%= render 'plant_row', plant: plant %>
  <% end %>
  </tbody>
</table>

<div style=" text-align: center;">
  <div class="plantButton">
    <%= link_to "+ #{t '.new_plant'}", new_plant_path %>
  </div>
</div>