<% content_for :title, 'Plants' %>
<div>
  <h1 style="display:inline-block"><%= t '.plants' %></h1>
  -
  <%= link_to 'View Archived Plants', plants_archive_path %>
</div>
<div style="float:right">
  <%= link_to t('.import_plants'), plants_import_path %> |
  <%= link_to t('.export_plants'), plants_path(format: :json) %>
</div>

<div class="formContainer">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_or_location_name_cont, placeholder: 'Search Plants', autofocus: true %>
    <%= f.submit "&#128269;".html_safe %>
  <% end %>
</div>
<br>
<div style="padding: 0;"><%= "#{@plants.size} Currently Active Plants" %>
  <%= params['q']['name_or_location_name_cont'] && params['q']['name_or_location_name_cont'] != '' ? " matching \"#{params['q']['name_or_location_name_cont']}\"" : ''%>
  <% if params['q']['name_or_location_name_cont'] && params['q']['name_or_location_name_cont'] != '' %>
    - <%= link_to t('clear_search'), plants_path %>
  <% end %>
</div>

<table class="blue">
  <%= render 'plant_row_header' %>
  <tbody>
  <% @plants.each do |plant| %>
    <%= render 'plant_row', plant: plant %>
  <% end %>
  </tbody>
</table>

<div style=" text-align: center;">
  <div class="plantButton">
    <%= link_to "+ #{t '.new_plant'}", new_plant_path %>
  </div>
</div>