<h1><%= t '.plants' %></h1>

<div style="float:right">
  <%= link_to t('.import_plants'), plants_import_path %> |
  <%= link_to t('.export_plants'), plants_path(format: :json) %>
</div>

<h2><%= t '.needs_watering' %></h2>
<% if @needs_water&.any? %>
  <table class="yellow">
    <%= render 'plant_row_header' %>
    <tbody>
      <% @needs_water.each do |plant| %>
        <%= render 'plant_row', plant: plant %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t '.up_to_date' %></p>
<% end %>
<% if @watered_today&.any? %>
  <h2><%= t '.watered_today' %></h2>
  <table class="blue">
    <%= render 'plant_row_header' %>
    <tbody>
      <% @watered_today.each do |plant| %>
        <%= render 'plant_row', plant: plant %>
      <% end %>
    </tbody>
  </table>
<% end %>
<h2><%= t '.upcoming' %></h2>
<% if @upcoming&.any? %>
  <table class="green">
    <%= render 'plant_row_header' %>
    <tbody>
      <% @upcoming.each do |plant| %>
        <%= render 'plant_row', plant: plant %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t '.no_upcoming' %></p>
<% end %>
<h2><%= t '.recently_watered' %></h2>
<% if @recently&.any? %>
  <table class="blue">
    <%= render 'plant_row_header' %>
    <tbody>
      <% @recently.each do |plant| %>
        <%= render 'plant_row', plant: plant %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t '.no_recent_watering' %></p>
<% end %>

<% if @unscheduled&.any? %>
  <h2><%= t '.unscheduled' %></h2>
  <table>
    <%= render 'plant_row_header' %>
    <tbody>
      <% @unscheduled.each do |plant| %>
        <%= render 'plant_row', plant: plant %>
      <% end %>
    </tbody>
  </table>
<% end  %>
<div style=" text-align: center;">
  <div class="plantButton">
    <%= link_to "+ #{t '.new_plant'}", new_plant_path %>
  </div>
</div>
