<p style="color: green"><%= notice %></p>

<%= render @plant %>

<div>
  <%= link_to "Edit this plant", edit_plant_path(@plant) %> |
  <%= link_to "Back to plants", plants_path %> |
  <%= link_to "Water this plant", plant_water_path(@plant) %>

  <%= button_to "Destroy this plant", @plant, method: :delete, onclick: "return confirm('Are you sure you want to delete this plant and all of its associated data?');" %>
</div>

<h3>Log:</h3>
<%= render partial: 'waterings', locals: { waterings: @plant.waterings } %>
