<h1><%= t 'account.update_password' %></h1>

<%= form_with model: current_user, url: password_path do |form| %>
  <% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :password_challenge, t('account.current_password') %>
    <%= form.password_field :password_challenge, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :password, t('account.new_password') %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, t('password_confirmation') %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="submit">
    <%= form.submit t('account.update_password') %>
  </div>
<% end %>

<br>
<%= link_to t('back_to_settings'), settings_path %>
