<%= form_with(model: sensor) do |form| %>
  <% if sensor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
        <% sensor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :project_id, value: sensor&.project_id || current_project.id %>

  <div>
    <%= form.label :sensor_type_id, style: "display: block" %>
    <%= form.collection_select :sensor_type_id, current_project.sensor_types, :id, :name, { prompt: "-- Select a Sensor Type --" } %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :zone_id, style: "display: block" %>
    <%= form.number_field :zone_id %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.submit class: 'saveButton' %>
  </div>
<% end %>
