<div id="<%= dom_id sensor %>">
  <h1><%= sensor %></h1>

  <p>
    <strong>Zone:</strong>
    <%= link_to sensor.zone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= sensor.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sensor.description %>
  </p>

</div>
