<div id="<%= dom_id sensor %>">
  <h1><%= sensor %></h1>

  <p>
    <strong>Zone:</strong>
    <%= link_to sensor.zone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= sensor.location %>
  </p>

  <% if sensor.hygro_sensor_readings.any? %>
    <div>
      <strong>Temperature:</strong>
      <%= sensor.last_temp %>&deg;F
      <div class="updateText">
        <%= time_ago_in_words sensor.hygro_sensor_readings.last&.datetime %> ago
      </div>
    </div>
    <div>
      <strong>Humidity:</strong>
      <%= sensor.hygro_sensor_readings.last&.humidity %>%
      <div class="updateText">
        <%= time_ago_in_words sensor.hygro_sensor_readings.last&.datetime %> ago
      </div>
    </div>
  <% end %>

  <p>
    <strong>Sensor Type:</strong>
    <%= link_to sensor.sensor_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sensor.description %>
  </p>

</div>
