<% content_for :title, "Edit Sensor: #{@sensor}" %>

<h1>
  <%= link_to t('.sensors'), sensors_path, class: 'breadcrumb' %>
  <%= icon 'chevron-right', variant: 'mini', class: 'breadcrumb' %>
  <%= link_to @sensor, sensor_path(@sensor), class: 'breadcrumb' %>
  <%= icon 'chevron-right', variant: 'mini', class: 'breadcrumb' %>
  Edit
</h1>

<%= render "form", sensor: @sensor %>

<br>

<div>
  <%= link_to "Show this sensor", @sensor %> |
  <%= link_to "Back to sensors", sensors_path %>
</div>
