<div id="<%= dom_id zone %>">
  <h1>
    <%= zone %>
  </h1>

  <% if zone.hygro_sensor_readings.any? %>
    <div>
      <strong>Temperature:</strong>
      <%= zone.last_temp %>&deg;F
      <div class="updateText">
        <%= time_ago_in_words zone.hygro_sensor_readings.last&.datetime %> ago
      </div>
    </div>
    <div>
      <strong>Humidity:</strong>
      <%= zone.hygro_sensor_readings.last&.humidity %>%
      <div class="updateText">
        <%= time_ago_in_words zone.hygro_sensor_readings.last&.datetime %> ago
      </div>
    </div>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= zone.description %>
  </p>

  <% if zone.sensors.any? %>
    <h2>Sensors</h2>
    <ul>
      <% zone.sensors.each do |sensor| %>
        <li>
          <% if sensor.hygro_sensor_readings.any? %>
            <%= link_to sensor.name_with_latest, sensor %>
          <% else %>
            <%= link_to sensor %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>This Zone does not have any sensors.</p>
  <% end %>


</div>
