<div class="formContainer">
  <%= form_with(model: watering) do |form| %>
    <% if watering.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(watering.errors.count, "error") %> prohibited this watering from being saved:</h2>

        <ul>
          <% watering.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :plant, style: "display: block" %>
    <div class="plantButton">
      <%= link_to watering.plant %>
    </div>

    <div>
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date, value: watering.date || Time.zone.now.to_date %>
    </div>
    <br>
    <div>
      <%= form.label :fulfilled, 'Fulfilled?',  style: "display: block" %>
      <%= form.check_box :fulfilled %>
    </div>

    <div>
      <%= form.label :notes, style: "display: block" %>
      <%= form.text_area :notes, autofocus: watering.notes.nil? || watering.notes == '' %>
    </div>
    <br>
    <div>
      <% submit_text = t(watering.new_record? ? 'waterings.create_watering' : 'waterings.update_watering') %>
      <%= form.submit submit_text %>
    </div>
  <% end %>
</div>