<%= form_with(model: watering) do |form| %>
  <% if watering.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(watering.errors.count, "error") %> prohibited this watering from being saved:</h2>

      <ul>
        <% watering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :plant_id, style: "display: block" %>
    <%= form.number_field :plant_id %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, value: watering.date || Time.zone.now.to_date %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
