<div id="<%= dom_id watering %>">
  <h1><%= t('waterings.watered_on') %> <%= format_date @watering.date, long: true %></h1>
  <h4><%= time_ago @watering.date %></h4>
  <strong><%= t 'attributes.plant' %>:</strong>
  <div class="plantButton">
    <%= link_to watering.plant %>
  </div>

  <p>
    <strong><%= t 'attributes.logged' %>:</strong>
    <%= format_time watering.created_at %>
  </p>
  <p>
    <strong><%= t 'attributes.updated' %>:</strong>
    <%= format_time watering.updated_at %>
  </p>

  <p>
    <strong><%= t 'attributes.volume' %>:</strong>
    <%= watering.print_volume %>
  </p>

  <p>
    <strong><%= t 'attributes.notes' %>:</strong>
    <%= watering.notes ? watering.notes.gsub("\n",'<br>').html_safe : '' %>
  </p>

</div>
