<div id="<%= dom_id watering %>">
  <h1>Watered on <%= format_date @watering.date, long: true %></h1>
  <h4><%= time_ago @watering.date %></h4>
  <strong>Plant:</strong>
  <div class="plantButton">
    <%= link_to watering.plant %>
  </div>

  <p>
    <strong>Logged:</strong>
    <%= format_time watering.created_at %>
  </p>
  <p>
    <strong>Updated:</strong>
    <%= format_time watering.updated_at %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= watering.notes ? watering.notes.gsub("\n",'<br>').html_safe : '' %>
  </p>

</div>
