<h1><%= t '.waterings' %></h1>

<table class="waterings blue">
  <thead>
  <tr>
    <th class='plantColumn'><%= t 'attributes.plant' %></th>
    <th class='dateColumn'><%= t 'attributes.date' %></th>
    <th class='intervalColumn'><%= t 'attributes.interval' %></th>
    <th class='notesColumn'><%= t 'attributes.notes' %></th>
  </tr>
  </thead>
  <tbody>
  <% @waterings&.each do |watering| %>
    <tr>
      <td class='plantColumn'><%= link_to watering.plant, watering_path(watering.id) %></td>
      <td class='dateColumn'><%= time_ago watering.date %></td>
      <td class='intervalColumn'><%= watering.interval_text %></td>
      <td class='notesColumn'><%= watering.notes %></td>
    </tr>
  <% end %>
  </tbody>
</table>
