<p style="color: green"><%= notice %></p>

<h1>Waterings</h1>


<table class="blue">
  <thead>
  <tr>
    <th style="width: 12em">Plant</th>
    <th style="width: 10em">Date</th>
    <th style="width: 6em">Interval</th>
    <th style="width: 6em">Frequency</th>
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
  <% @waterings.each do |watering| %>
    <tr>
      <td><%= link_to watering.plant, watering_path(watering.id) %></td>
      <td><%= time_ago watering.date, precise: true %></td>
      <td><%= watering.interval_text %></td>
      <td><%= watering.plant ? watering.plant.watering_frequency_text : 'Plant deleted' %></td>
      <td><%= watering.notes %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New watering", new_watering_path %>
