<p style="color: green"><%= notice %></p>

<h1>Waterings</h1>


<table>
  <thead>
  <tr>
    <th>Plant</th>
    <th>Date</th>
    <th>Interval</th>
    <th>Frequency</th>
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
  <% @waterings.each do |watering| %>
    <tr>
      <td><%= link_to watering.plant, watering_path(watering.id) %></td>
      <td><%= time_ago watering.date, precise: true %></td>
      <td><%= watering.interval_text %></td>
      <td><%= watering.plant.watering_frequency_text %></td>
      <td><%= watering.notes %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New watering", new_watering_path %>
