<% content_for :title, 'Waterings' %>
<h1><%= t '.waterings' %></h1>

<div style="float:right">
  <%= link_to t('.import_waterings'), waterings_import_path %> |
  <%= link_to t('.export_waterings'), waterings_path(format: :json) %>
</div>

<table class="waterings blue">
  <thead>
  <tr>
    <th class='plantColumn'><%= t 'attributes.plant' %></th>
    <th class='dateColumn'><%= t 'attributes.date' %></th>
    <th class='dateColumn'><%= t 'attributes.volume' %></th>
    <th class='intervalColumn'><%= t 'attributes.interval' %></th>
    <th class='notesColumn'><%= t 'attributes.notes' %></th>
  </tr>
  </thead>
  <tbody>
  <% @waterings&.each do |watering| %>
    <tr>
      <td class='plantColumn'><%= link_to watering.plant, watering_path(watering.id) %></td>
      <td class='dateColumn'><%= time_ago watering.date %></td>
      <td class='dateColumn'><%= watering.print_volume %></td>
      <td class='intervalColumn'><%= watering.interval_text %></td>
      <td class='notesColumn'><%= watering.notes %></td>
    </tr>
  <% end %>
  </tbody>
</table>
