<% content_for :title do %>
  Watered #<%= @watering.plant.uid %> <%= @watering.plant.name %> <%= @watering.date.strftime '%a %-m/%-d/%y' %>
<% end %>

<h1 style="display:inline-block">
  <%= link_to t('.plants'), plants_path, class: 'breadcrumb' %>
  <%= icon 'chevron-right', variant: 'mini', class: 'breadcrumb' %>
  <%= link_to @watering.plant, plant_path(@watering.plant), class: 'breadcrumb' %>
  <%= icon 'chevron-right', variant: 'mini', class: 'breadcrumb' %>
  <%= link_to t('.waterings'), waterings_path, class: 'breadcrumb' %>
  <%= icon 'chevron-right', variant: 'mini', class: 'breadcrumb' %>
  <%= @watering.date.strftime '%a %-m/%-d/%y' %>
</h1>

<%= render @watering %>

<p>
  <%= link_to t('waterings.edit_watering'), edit_watering_path(@watering) %> |
  <%= link_to t('waterings.all_waterings'), waterings_path %> |
  <%= link_to t('waterings.water_again'), plant_water_path(@watering.plant) %>

  <%= button_to t('waterings.delete_watering'), @watering, method: :delete, onclick: "return confirm('#{t 'waterings.messages.confirm_delete'}');" %>

</p>
