<p style="color: green"><%= notice %></p>

<% content_for :title, "Locations" %>

<h1>Locations</h1>

<% unless @locations.empty? %>
    <%= link_to "View Zones", zones_path %>
<% end %>

<div id="locations">
  <% @locations.each do |location| %>
    <%= render location %>
    <p>
      <%= link_to "Show this Location", location %>
    </p>
  <% end %>
</div>

<%= link_to "New Location", new_location_path %>
