<!DOCTYPE html>
<html>
  <head>
    <title>PlantCare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <% if session[:logged_in] %>
      <nav>
        <%= params[:controller] != 'plants' || params[:action] != 'index' ? link_to('Plants', plants_path) : 'Plants' %> |
        <%= params[:controller] != 'waterings' || params[:action] != 'index' ? link_to('Waterings', waterings_path) : 'Waterings' %> |
        <%= params[:controller] != 'plants' || params[:action] != 'new' ? link_to('New Plant', new_plant_path) : 'New Plant' %>
      </nav>
    <% end %>
    <div style="float: right">
      <% if session[:logged_in] %>
        &nbsp;| Logged In |
        <%= link_to 'Log Out', sessions_destroy_path %>
    <% end %>
    </div>
    <time><%= format_date Time.now, time: true %></time>
  </header>
  <section id="main">
    <%= yield %>
  </section>

  </body>
</html>
